.App {
  text-align: center;
}

body {
  background-color: rgb(243, 225, 203);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* height of the container */
.leaflet-container {
  height: 80vh;
  width: 80%;
  border-radius: 2rem;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row; /* Main container: left-right alignment */
  align-items: stretch; /* Align items to the top */
  gap: 20px; /* Space between left and right sections */
}

.container img {
  display: flex;
  max-width: 150px; /* Adjust as needed */
  margin-right: 20px;
}

.nested-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Equal vertical spacing */
  align-items: center; /* Center items horizontally */
  height: inherit; /* Adjust height to control vertical spacing */
  flex: 1; /* Allow the container to grow if needed */
}

.nested-container img {
  max-width: 60%; /* Make the images responsive */
  height: auto;
  margin: 16px;
  flex-direction: column;
}

/* Add some basic styling */
h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
}

/* Arrow style */
.arrow {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

/* Down arrow (default) */
.arrow.down::before {
  content: '\25BF'; /* Downward arrow */
  font-size: 20px;
}

/* Up arrow (when section is expanded) */
.arrow.up::before {
  content: '\25B5'; /* Upward arrow */
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
